source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1

nuget EventStore.Client 20.6.0
nuget FSharp.Core
nuget FSharp.SystemTextJson 0.12.12
nuget Microsoft.AspNetCore 2.2.0
nuget Microsoft.AspNetCore.SpaServices.Extensions 3.1.5
nuget Microsoft.NET.Test.Sdk 15.9.0
nuget nunit 3.11.0
nuget NUnit3TestAdapter 3.11.0
nuget protobuf-net 2.4.0
nuget Swashbuckle.AspNetCore